/* 1: h1 cervenou */
h1 {
	color: #ff0000;
}
/* 2: article, aside farba pozadia */
article {
	background-color: #ddd;
}
aside {
	background-color: rgba(255, 0, 0, 0.1);
}
/* 3: 
	h2 pod article inou farbou a vacsim pismom
	h2 pod aside tiez inou farbou	
*/
article h2 {
	color: #ee0000;
	font-size: 2.5em;
}

aside h2 {
	color: green;
}
/* 4: */
.intro {
	color: #555;
	font-size: 1.6em;
}

article .intro {
	font-size: 2.2em;
}

h1:hover {
	background-color: #555;
}

h1:first-letter {
	color: yellow;
	font-family: Verdana, sans;
	font-size: 5em;
}

h1 + p { color: red;}

article > h2 { 
	text-dcoration: underline;
}

article {
	border: 1px black dashed;
	border-left: 1px black dotted;
	border-top: 1px red solid;
	/* vonkajsi okraj */
	/* styri cisla v smere hodinovych ruciciek zhora */
	margin: 10px 5px 10px 5px;
	padding: 20px 40px 20px 40px;
}







