body {
	font-size: 15px;
}

/* nazov tagu ako selektor */
p { }

section p { } /* kontextovost */
		
/* class ako selector */
.alt { }

section .alt { font-style: italic; } /* kontextovost */

.bold { font-weight: bold; }


p.orange,
p.alt { 
	color: orange;
}

/* id ako selector */
#intro { }

/** speciality **/

/* pseudo trieda */
p:hover { }

/* pseudo element */
p:first-letter { 
	font-size: 1.3em; 
	color: blue;
}

/* vse selektor */
* { }

/* susedstvo */
strong {}
em {}

strong + em { } /* len em, ktory je hned vedla strong */

/* priama nadradenost */
section strong { }

section > strong { } /* len strong, ktory je priamo pod section */

p > strong { } /* len strong, ktory je priamo pod p */

/* atribut */

span[title] { }


