form {
	width: 250px;
}

input[type=text],
input[type=password],
textarea,
select {
	border: 1px solid blue;
	padding: 3px 6px;
	float: left;
}

label {
	display: block;
	float: left;
	width: 100px;
	outline: 1px solid yellow;
	clear: left;
}

label.label-radio {
	margin-left: 100px;
}

input[type=submit] {
	border: 1px solid red;
	padding: 5px;
	font-weight: bold;
	clear: both;
	margin-top: 10px;
	margin-left: 100px;
}

input[type=radio]

input[type=checkbox]